favorites=thunar.desktop,firefox.desktop,thunderbird.desktop,org.opensuse.YaST.desktop,org.opensuse.yast.Packager.desktop,xfce4-terminal-emulator.desktop
recent=thunar.desktop,thunderbird.desktop,xfce4-panel-profiles.desktop,com.discordapp.Discord.desktop,firefox.desktop,xfce4-terminal-emulator.desktop,org.opensuse.yast.Packager.desktop,xfce-ui-settings.desktop,im.riot.Riot.desktop,org.gnome.gedit.desktop
button-icon=xfce4-button-opensuse
button-single-row=false
show-button-title=true
show-button-icon=true
launcher-show-name=true
launcher-show-description=false
launcher-show-tooltip=true
item-icon-size=2
hover-switch-category=false
category-show-name=true
category-icon-size=-1
load-hierarchy=false
view-as-icons=false
recent-items-max=10
favorites-in-recent=true
display-recent-default=false
position-search-alternate=false
position-commands-alternate=false
position-categories-alternate=false
stay-on-focus-out=false
confirm-session-command=true
menu-width=450
menu-height=560
menu-opacity=100
