favorites=thunar.desktop,firefox.desktop,chromium-browser.desktop,thunderbird.desktop,claws-mail.desktop,mousepad.desktop,org.opensuse.YaST.desktop,org.opensuse.yast.Packager.desktop,xfce4-terminal-emulator.desktop
button-icon=xfce4-button-opensuse
button-title=\ Menu\ 
button-single-row=false
show-button-title=true
show-button-icon=true
launcher-show-name=true
launcher-show-description=false
launcher-show-tooltip=true
item-icon-size=3
hover-switch-category=true
category-show-name=true
category-icon-size=1
load-hierarchy=false
view-as-icons=true
recent-items-max=10
favorites-in-recent=true
display-recent-default=false
position-search-alternate=false
position-commands-alternate=false
position-categories-alternate=true
stay-on-focus-out=false
confirm-session-command=true
menu-width=453
menu-height=511
menu-opacity=100
